html * {
  color: #ffffff;
}

/* The side navigation menu */
.sidenav {
  background: #3776ac;
}

/* The navigation menu links */
.sidenav a {
  color: #818181;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #004d99;
}

.icon-bar {
  background-color: #555; /* Dark-grey background */
}

.icon-bar a {
  color: white; /* White text color */
}

.icon-bar a:hover {
  background-color: red; /* Add a hover color - doesn't work */
}

.active {
  background-color: #4933b5; /* Add an active/current color */
}

.sidebar {
  background: #3776ac;
}

#main {
  background-color: white; /*main page colour*/
}

.row {
	border-bottom: 1px solid #AFAFAF;
}
.row:nth-child(1) {
    background: gold;
  }
  
.row:nth-child(2) {
    background: #c0c0c0;
  }
  
.row:nth-child(3) {
    background: #cd7f32;
  }
.user {
    background-color: red;
}

.water-fountain-button {
    background-color: blue;
    color: white;
}

.bus-stop-button {
    background-color: red;
    color: white;
}

.bin-button {
    background-color: green;
    color: white;
}

.track-button {
    background-color: white;
    color: white;
}

.pathDiv {
    background-color: rgba(0, 163, 255, 0.5);
}
.box{
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    background-color: rgba(0, 163, 255, 0.5);
}

.message{
    background-color: rgba(0, 163, 255, 1);
    
}

.minigame-button{
    background-color: grey;
    color: white;
}
.game{
    background-color: rgba(0, 163, 255, 1);
}
.start-button{
  background-color: grey;
  color: white;
}

textarea {
  border: 1px solid #ccc;
}

/* Style the submit button with a specific background color etc */
input[type='submit'] {
  background-color: #049ada;
  color: white;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type='submit']:hover {
  background-color: #049ada;
}

.contentbox{
  background-color: #3776ac;
}

.streaks {
  background-color: #000000;
}

.streaks_small{
  background-color: #46ff46;
}