/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 60px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  background: #3776ac;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #004d99;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
.icon-bar {
  width: 90px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: red; /* Add a hover color - doesn't work */
}

.active {
  background-color: #4933b5; /* Add an active/current color */
}

    body,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-family: 'Montserrat', sans-serif;
			}
			.row-padding img {
				margin-bottom: 12px;
			}
			/* Set the width of the sidebar to 120px */
			.sidebar {
				width: 120px;
				background: pink;
			}
			/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
			#main {
				margin-left: 120px;
				background-color: royalblue; /*main page colour*/
			}
			/* Remove margins from "page content" on small screens */
			@media only screen and (max-width: 600px) {
				#main {
					margin-left: 0;
				}
			}
    
/* Style inputs with type="text", select elements and textareas */
input[type='text'],
select,
textarea {
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type='submit'] {
  background-color: #049ada;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type='submit']:hover {
  background-color: #049ada;
}

.row {
	position: relative;
	display: block;
	height: 40px;
	border-bottom: 1px solid #AFAFAF;
}

.name {
	position: relative;
	display: inline-block;
	line-height: 45px;
}

.score {
	position: relative;
	display: inline-block;
	width: 25%;
}
.row:nth-child(1) {
    background: gold;
  }
  
.row:nth-child(2) {
    background: #c0c0c0;
  }
  
.row:nth-child(3) {
    background: #cd7f32;
  }

  html * {
    color: #6656ff;
}
body {
background-color: #99ccff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Montserrat', sans-serif;
}
.row-padding img {
margin-bottom: 12px;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
margin-left: 120px;
background-color: #99ccff; /*main page colour*/ 
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
#main {
margin-left: 0;
}
}

.map {
    position: relative;
    width: 1096px;
    height: 1266px;
    background-image: url("images/map.f26e686c2b51.jpg");
    background-size: 1096px 1266px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.user {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.bottle {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url("images/bottle.f53dd97f968f.png");
    background-size: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.bus_stop {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url("images/bus-stop.01221e23cfd6.png");
    background-size: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.bin {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url("images/recycling.1c0aa4766ef9.png");
    background-size: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.garbage {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url("images/trash.ac3bbd29e2af.png");
    background-size: 200px 200px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.maze-row {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.maze-square {
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
}
.water-fountain-button {
    display: absolute;
    align-items: center;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
}
.water-fountain-button img {
    height: 50px;
    margin-right: 10px;
}
.bus-stop-button {
    display: absolute;
    align-items: center;
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
  }
  
.bus-stop-button img {
    height: 50px;
    margin-right: 10px;
  }
.bin-button {
    display: absolute;
    align-items: center;
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
  }
.bin-button img {
    height: 50px;
    margin-right: 10px;
  }
.track-button {
    display: absolute;
    align-items: center;
    background-color: white;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    tracking: false;
  }
.track-button img {
    height: 50px;
    margin-right: 10px;
}
.pathDiv {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 163, 255, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;	
  }
.box{
    display: inline-block;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    text-align: center;
    text-decoration: none;
    font-size: 60px;
    width: 310px;
    height: 150px;
    background-color: rgba(0, 163, 255, 0.5);
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 5px;
}

.message{
    position: absolute;
    left:150px;
    top: 600px;
    background-color: rgba(0, 163, 255, 1);
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 5px;
    
}

.minigame-button{
    display: relative;
    align-items: center;
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    tracking: false;
}
.game{
    position: absolute;
    left:150px;
    top: 500px;
    width: 310px;
    background-color: rgba(0, 163, 255, 1);
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 5px;
}
.start-button{
    display: relative;
    align-items: center;
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    tracking: false;
}

.streaks {
    width: auto;
    height: auto;
    position: sticky;
    bottom: 10px;
    right: 10px;
    float: right;
    background-color: #000000;
}

.streaks_small{
    position: sticky;
    bottom: 0%;
    float: left;
    height: 40px;
    background-color: #46ff46;
}

.bar-item{
    width: 25% !important;
}

.container-main{
    padding: 5%;
    margin-bottom:1%;
    background-color: #3776ac;
}

.contact-list{
    list-style-type: none
}

.item-table{
    width: 30%;
}

.subject{
    height: 100px
}