body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 60px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.bar-icon{
width: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.icon-bar {
  width: 60px; /* Set a specific width */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  font-size: 36px; /* Increased font-size */
}

.bar-item{
  width: 25% !important;
}

.row-padding img {
  margin-bottom: 12px;
}
/* Set the width of the sidebar to 120px */
.sidebar {
  width: 120px;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
  margin-left: 120px;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}
    

.row {
	position: relative;
	display: block;
	height: 40px;
}

.name {
	position: relative;
	display: inline-block;
	line-height: 45px;
}

.score {
	position: relative;
	display: inline-block;
}

.row-padding img {
  margin-bottom: 12px;
}

.map {
    position: relative;
    width: 1096px;
    height: 1266px;
    background-image: url("images/map.f26e686c2b51.jpg");
    background-size: 1096px 1266px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.user {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.bottle {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url("images/bottle.f53dd97f968f.png");
    background-size: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.bus_stop {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url("images/bus-stop.01221e23cfd6.png");
    background-size: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.bin {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url("images/recycling.1c0aa4766ef9.png");
    background-size: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.garbage {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url("images/trash.ac3bbd29e2af.png");
    background-size: 200px 200px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.maze-row {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.maze-square {
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
}
.water-fountain-button {
    display: absolute;
    align-items: center;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
}
.water-fountain-button img {
    height: 50px;
    margin-right: 10px;
}
.bus-stop-button {
    display: absolute;
    align-items: center;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
  }
  
.bus-stop-button img {
    height: 50px;
    margin-right: 10px;
  }
.bin-button {
    display: absolute;
    align-items: center;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
  }
.bin-button img {
    height: 50px;
    margin-right: 10px;
  }
.track-button {
    display: absolute;
    align-items: center;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    tracking: false;
  }
.track-button img {
    height: 50px;
    margin-right: 10px;
}
.pathDiv {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;	
  }
.box{
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    text-align: center;
    text-decoration: none;
    font-size: 60px;
    width: 310px;
    height: 150px;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 5px;
}

.message{
    position: absolute;
    left:150px;
    top: 600px;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 5px;
    
}

.minigame-button{
    display: relative;
    align-items: center;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    tracking: false;
}
.game{
    position: absolute;
    left:150px;
    top: 500px;
    width: 310px;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 5px;
}
.start-button{
  display: relative;
  align-items: center;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
  tracking: false;
}

/* Style inputs with type="text", select elements and textareas */
input[type='text'],
select,
textarea {
  padding: 12px; /* Some padding */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type='submit'] {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.content{
  padding: 5%;
  width: 100%;
  margin-bottom:2%;
}

.contact-list{
  list-style-type: none
}

.item-table{
  width: 100%;
}

.subject{
  height: 100px
}

.streaks {
  width: auto;
  height: auto;
  position: sticky;
  bottom: 10px;
  right: 10px;
  float: right;
}

.streaks_small{
  position: sticky;
  bottom: 0%;
  float: left;
  height: 40px;
}