<!DOCTYPE html>
<html>
    <head>
        <title>Link CSS to HTML</title>
        <link rel="stylesheet" type="text/css" href="contactus.css">
    </head>
    <div class="container">
        <form action="https://formsubmit.co/exetertestcontacts@gmail.com" method="POST">
      
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name.." required>

          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Your email address.." required>
        
          <label for="subject">Report</label>
          <textarea id="subject" name="subject" placeholder="Report a change..." style="height:200px" required></textarea>
      
          <button type="submit">Submit</button>
      
        </form>
      </div> 
</html>
